<a href="https://colab.research.google.com/github/Sai-Kale/ML_ineuron/blob/master/Python_Core/Python_Assignments/class_notes_python/sets_tuples_list_for_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
list(range(3))

[0, 1, 2]

In [10]:
l = list(range(20))

In [12]:
list(range(2,4))

[2, 3]

In [14]:
list(range(2,19,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [16]:
list(range(20,2,-2))

[20, 18, 16, 14, 12, 10, 8, 6, 4]

In [21]:
#Tuple is immutable and List is mutable
#i.e. we cant edit a tuple

In [19]:
t = (1,2,3)
type(t)

tuple

In [20]:
d = {1,2,3}
type(d)

set

In [23]:
s = {1,1,1,2,2,2,2,"sai","sai","sai"}  #set gives out the unique values in a given set, its NOT case sensitive
s

{1, 2, 'sai'}

In [25]:
s = {32,13,142,6353,11,25,321} #it looks like sorting from ascending order but its just an unordered collection of unique objects
s

{11, 13, 25, 32, 142, 321, 6353}

In [27]:
s = {"sai","s","kumar",34,26,37}
s

{26, 34, 37, 'kumar', 's', 'sai'}

In [29]:
s[0] #we can do this for list and tuple but not set

TypeError: ignored

In [30]:
d = {} #inside a dict we can store any kind of data in key value fashion
type(d)

dict

In [32]:
d ={"a":"sai","name":"kale","number":35454}
d

{'a': 'sai', 'name': 'kale', 'number': 35454}

In [36]:
d = {"name" : "sai", "name":"kumar"} #it overides the data with the second data if same key is used
d
sa={"name" : "kumar", "name":"kumar"} #value duplication is allowed
sa

{'name': 'kumar'}

In [37]:
dict = {2:"sai","a":"kumar","list":[0,1,2,3,(4,3,64),34],"t":(1,2,4,5),"s":{1,2,2,4}}
dict

{2: 'sai',
 'a': 'kumar',
 'list': [0, 1, 2, 3, (4, 3, 64), 34],
 's': {1, 2, 4},
 't': (1, 2, 4, 5)}

** *Dictionary can use any immutable structure as key, but mutable cant be used. 
tuples and string are immutable entity

In [40]:
 dict['list'][4][0] #I am able to access a tuple inside a dict

4

In [43]:
dict['s'] [1]  #reason being set is UNORDERED CoLLECTION OF OBJECTS, objects order keep changing evertime we called

TypeError: ignored

In [63]:
l = [1,234,35,{"name" : "sai"},2342,[5,234,2423,242],2,{35,249,2323,24,123},25,(23,23,232,234,2)]
l

[1,
 234,
 35,
 {'name': 'sai'},
 2342,
 [5, 234, 2423, 242],
 2,
 {24, 35, 123, 249, 2323},
 25,
 (23, 23, 232, 234, 2)]

In [69]:
for i in l:
  if type(i) == dict:
    print(i)

In [74]:
for i in l:
  if type(i) == list:
    for j in i:
      if j == 34:
        print(j)
      else:
        print("the numbers in the list are "+str(j))

the numbers in the list are 5
the numbers in the list are 234
the numbers in the list are 2423
the numbers in the list are 242

In [75]:
 d = {"sai":"kumar","no":12123,"random":"nfsdns"}
 d

{'no': 12123, 'random': 'nfsdns', 'sai': 'kumar'}

In [81]:
for i in d:
  print (i)

sai
no
random

In [88]:
for i in d.items():
  print(i) #this is printing tuples of key value pairs

('sai', 'kumar')
('no', 12123)
('random', 'nfsdns')

In [91]:
for i in d.items():
  print(i[1]) #as this is printing tuples of key value pairs, so we can fetch values by using [1] and keys [0]

kumar
12123
nfsdns